#This the the canonical lab .gitignore file

#ignore temp files
*~

#ignore CLion/ VSCode files
*.idea
*.DS_Store
*.vscode

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux
*.fdb_latexmk
*.fls
*.dvi
*.ps

#ignore junk files from compiling C code
*.o
*.d
*.dSYM
*.bin
address_node
node
testrunner

#ignore junk files from compiling Haskell code
*.hi

#ignore junk files from compiling Java code
*.class

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc
